{% extends "./base.html"%}
{% block title%} Gestion de Cursos {% endblock%}
{% block body %}


<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">

 </div>
 <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
  <h1>Listado de Cursos</h1>
  <div class="table-responsive py-2">
    <table class="table table-striped">
       <thead>
         <tr>
          <th>#</th>
           <th>Codigo</th>
           <th>Name</th>
           <th>Creditos</th>
         </tr>
       </thead>
       <tbody>
         {% for c in cursos %}
         <tr>
          <td>{{forloop.counter}}</td>
          <td>{{c.codigo}}</td>
          <td>{{c.name}}</td>
          <td>{{c.creditos}}</td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
 </div>
</div>

{% endblock%}


<!-- <ul>
  {% for c in cursos %}
  <li>{{c.name}}</li>
  {% endfor %}
</ul>
 -->